<div class="ss-create-sketch">
  <div class="form-group col-md-6">
    <label for="">Name</label>

    <input type="text" class="form-control" />
  </div>

  <div class="form-group mt-2 col-md-8">
    <label for="">Description</label>

    <textarea class="form-control" cols="30" rows="4"></textarea>
  </div>

  <div class="ss-create-sketch__paint-container">
    <div class="ss-create-sketch__paint-header">
      <img
        src="https://onecompileman.com/sketch-online/assets/icons/color.png"
      />

      <div class="ss-create-sketch__color-block"></div>

      <img
        src="https://onecompileman.com/sketch-online/assets/icons/pen.png"
        alt=""
        class="ml-5"
      />

      <div class="ss-create-sketch__point-block">•</div>

      <img
        src="https://onecompileman.com/sketch-online/assets/icons/reset.png"
        alt=""
      />
    </div>

    <div id="canvasContainer"></div>
  </div>

  <button class="btn btn-primary ss-create-sketch__create-btn">
    <img
      src="https://onecompileman.com/sketch-online/assets/icons/edit.png"
      alt=""
    />

    CREATE SKETCH
  </button>
</div>
